.sidepenal{
   height: 340px;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   z-index: 3;
   top: 230px;
   left: 50px;
   & img {
      &:hover{
         content: "";
         transform: scale(2);
      }
   }
   
   &__divider{
      width: 2px;
      height: 70px;
     background-color: black;
   }
   &__text{
   font-size: 16px;
   line-height: 24px;
   width: 150px;
   height: 25px;
   }
   & span{
      display: block;
      transform: rotate(-90deg) translate(-30%);
      width: 150px;
   }
   
}

